
/* ========== GENERAL STYLES ========== */

}* {
    border: 1px red dotted; /* for testing */
    box-sizing: border-box;
}

/* ========== FONTS ========== */

@font-family {
    font-family: 'Roboto', Helvetica, sans-serif;
}

/* ========== HEADER ========== */


header {
    background: lightgrey; /* for testing */
}

h1 {
    font-size: 1em;
    font-family: 'Roboto';
}

.name {
    font-size: 1.2em;
    font-family: 'Roboto';
    text-transform: uppercase;
}

.section-title {
    font-size: 1.1em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.intro img {
    width: 62.5%;
}

.main-nav {
    text-align: center;
}

.main-nav li {
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    background: yellow;
    display: inline-block;
    width: 100%;
}

.portfolio {
    background: lightblue; /* for testing */
}

.project img {
    width: 90.625%;
}

/* ========== FOOTER ========== */

footer {
    background: pink; /* for testing */
}

/* ========== MEDIA QUERIES ========== */

/* ----- Tablets -----*/

}@media (min-width: 768px) {
    
}

/* ----- Desktops -----*/

@media (min-width: 1024px) {
    
}
